body{
margin: 0px;
padding: 0px;
}

.containernav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}
.bigContainer{
  display: flex;
  flex-direction: column;
}
header{
height: 40px;
background-color: #752223;
display: flex;
justify-content: flex-end;
width: 100%;
}
.headerForm{
display: flex;
align-items: center;
align: left;
margin-right: 10px;
}

.input {
  text-decoration: none;
  margin-left: 7px;
  background-color: #742223;
  border: 0;
  color: white;
  font-family: Roboto;
  font-style: Regular;
  font-size: 15px;
}

.input:hover {
  font-size: 17px;
  color: #eae4ac;
  cursor: pointer;
}
/* start navbar */
.navbar{
display: flex;
padding-left: 15px;
padding-right: 15px;
height: 70px;
background-color: #FAFAFA;
align-items: center;
justify-content: center;
}

.navigationItems{
  justify-content: center;
}
.navigationItems ul{
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0px;
}
.navigationItems a{
  font-family: Roboto;
  text-decoration: none;
  color: #752223;
  display: block;
  padding: 18px;
  font-weight: bold;
  text-align: center;

}
.navigationItems a:hover{
  text-decoration: underline;
}
.navbar .logo{
  width: 100px;
  height: 50px;
  }
  .navbar .star{
    width: 30px;
  }
  .navImg{
    align-items: center;
  }
/* end navbar */

/* start body */
#arrow{
  margin: 5px;
}
#container {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#navbarBlogs a{
  color: black;
  text-decoration: none;
}
#navbarBlogs a:hover{
  color: #B50B0B;
}
.topContainer{
  display: flex;
  justify-content: space-between;
}
#navbarBlogs{
      align-items: center;
      height: 70px;
      font-size: 18px;
      align-content: center;
      display: flex;
      margin-left: 1em;
}
.photoAndText{
  display: flex;
  width: 100%;
<<<<<<< HEAD
  justify-content: center;
=======
>>>>>>> bd81005f07d656f572dde315c3324b0305808582
}
.insideContainer{
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.insideContainer span{
  position: absolute;
  top: 285px;
<<<<<<< HEAD
  font-size: 23px;
  color: white;
  font-family: Roboto;
  font-weight: bold;
  align-self: center;
=======
  text-align: center;
  margin-left: 15%;
  font-size: 28px;
  color: white;
  font-family: Roboto;
  font-weight: bold;
>>>>>>> bd81005f07d656f572dde315c3324b0305808582
}
.insideContainer img{
  z-index: -1;
}
/* end body */
/* start footer */
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #752223;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-family: Roboto;
    font-size: 14px;
    color: white;
}
/* end footer */
@media only screen and (max-width: 650px) {
<<<<<<< HEAD
=======

>>>>>>> bd81005f07d656f572dde315c3324b0305808582
    #navbarBlogs{
        font-size: 13px;
    }
    .containernav {
      display: none;
    }
    .insideContainer span {
        position: absolute;
        top: 253px;
<<<<<<< HEAD
        font-size: 21px;
        font-weight: bold;
=======
        margin: 0 auto;
        font-size: 21px;
        font-weight: bold;
        display: flex;
        align-self: center;
>>>>>>> bd81005f07d656f572dde315c3324b0305808582
        color: black;
        width: 65%;
    }
    }
    .wordInsidePic{
      width: 50%;
    }
    .photoAndText{
      width: 100%;
    }
    .insideContainer img{
      width: 100%;
    }
}
