<main class="main">
  <center>
    <h2 class="error__desc">404. Page Not Found</2>
      <br>
      <a href="/" style="
        text-decoration: none;
        color:red;">
        <h4>Go back! at the home page</h4>
      </a>
      <section class="error">
        <img class="error__image" src="./image/error.png" alt="error">
      </section>
  </center>

</main>
