<main class="main">
  <section class="error">
    <a href="/" style="
        text-decoration: none;
        color:red;">
      <h4>Go back! at the home page</h4>
    </a>
    <p class="error__desc">500. <span class="error__msg">Internal server error</span></p>
    <img class="error__image" src="./image/error.png" alt="error">
  </section>
</main>
