<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <img src="/image/star.png" class="star" alt="star">
</div>
</div>

{{#each blogdata}}
<div class="container" id="container">
  <div class="insideContainer">
    <div class="photoAndText">
      <span>{{title}}</span>
      <img src="/image/blogImgs/{{img}}" alt="">
    </div>
    <p>{{likes}} : likes <i class="fa fa-heart-o"></i> </p>
    <p>
    {{article}}
    </p>
  </div>
</div>
{{/each}}
