<div id="navbar" class="navbar">
  <div class="containernav">
    {{>nav}}
    <img src="./image/star.png" class="star" alt="star">
</div>
</div>
<div class="Container">
<div class="topContainer">
  <div class="bigphoto style"></div>
  <div class="rightContainer">
    <div class="cont1 style">
      <div class="pic "></div>
      <h4 class="price"></h4>
      <h4 class="shopname"></h4>
    </div>
    <div class="cont2 style">
      <div class="pic"></div>
      <h4 class="price"></h4>
      <h4 class="shopname"></h4>
    </div>
  </div>
</div>
<div class="bottomContainer">
    <div class="cont11 style">
      <div class="pic"></div>
      <h4 class="price"></h4>
      <h4 class="shopname"></h4>
    </div>
    <div class="cont12 style">
      <div class="pic"></div>
      <h4 class="price"></h4>
      <h4 class="shopname"></h4>
    </div>
    <div class="cont13 style">
      <div class="pic"></div>
      <h4 class="price"></h4>
      <h4 class="shopname"></h4>
    </div>
</div>
</div>
