<div class="container">
  <div class="womanStyle">
    <img class="imgWoman" src="./image/woman2.png" alt="man-style">
  </div>
  <div class="centerBox">

    <img src="./image/logo.png" alt="logo" class="logo">
    <div class="text">
      <p>
        <h3>Being Fashionable Is Made Easy, Affordable And Fun!</h3>
        Outfits from best local boutiques and clothing shops right on your screen.
      </p>
      <div class="ebody">
        <a href="/shop" class="button">SHOP NOW</a>
      </div>
    </div>
  </div>
  <div class="manStyle">
    <img class="imgMan" src="./image/man2.png" alt="woman-style">
  </div>
</div>
<div class="line"></div>
<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="css/button.css">
<script src="./js/functions.js"></script>
<script src="./js/index.js"></script>
