<header class="header">
  <form class="headerForm" action="" method="post">
    <input class="input" type="submit" name="login" value="Login">
    <input class="input" type="submit" name="signup" value="Sign Up">
  </form>
</header>
<div class="sidebar" id="sidebar">
  <ul class="mainnav">
    <li>
      <div class="divHome">Home</div>
    </li>

    <li>
      <div class="manMenu">
        <div class="manWord" href="/men-fashion">Men
          <div class="submenu1">
            <a href="/men-outfits">Outfits</a>
            <a href="/men-fashion">Fashions</a>
          </div>

        </div>
      </div>
    </li>
    <li>
      <div class="womanMenu">
        <div class="womanWord" href="/men-fashion">Women
          <div class="submenu2">
            <a href="/women-outfits">Outfits</a>
            <a href="/women-fashion">Fashions</a>
          </div>

        </div>
      </div>
    </li>
    <li>
      <a href="/blogs">Blogs</a>
    </li>
    <li>
      <a href="/saved-fashion">My Account</a>
    </li>
    <li>
      <a href="/aboutus">About Us</a>
    </li>
    <li>
      <a href="/contactus">Contact Us</a>
    </li>
  </ul>
</div>
<div class="burgerAndLogo">
    <img src="./image/logo.png" alt="logo" class="logo">
    <i id="burgerButton"class="material-icons "class="burgerButton" onclick="burgerAction()">menu</i>

</div>
<div class="container" class="container">
  <div class="womanStyle">
    <img class="imgWoman" src="./image/woman2.png" alt="man-style">
    <p class="pWoman">Stylish, well-proportioned looks from some of our best brands</p>
  </div>
  <div class="manStyle">
    <p class="pMan">Bright, bold, & saturated with color. You'll never have a dull moment this spring</p>
    <img class="imgMan" src="./image/man2.png" alt="woman-style">
  </div>
</div>
<div class="line"></div>
<script src="./js/functions.js"></script>

