<header class="header">
  <form id="headerForm" class="headerForm">
    <input class="input" type="submit" name="" value="Login">
    <input class="input" type="submit" name="" value="Sign Up">
  </form>
</header>
