<div class="navImg">
  <img src="/image/logo.png" class="logo" alt="logo">
</div>
<div id="navigationItems" class="navigationItems">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/men-fashion">Men</a></li>
    <li><a href="/women-fashion">Women</a></li>
    <li class="menu">
      <a href="#">Explore</a>
      <div class="sub">
        <a href="/men-outfits">Men Outfits</a>
        <a href="/women-outfits">Women Outfits</a>

      </div>
    </li>
    <li><a href="/blogs">Blog</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/contactus">Contact us</a></li>
  </ul>
</div>
