<div class="navImg">
  <img src="/image/logo.png" class="logo" alt="star">
  </div>
<div id="navigationItems" class="navigationItems">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/men-fashion">Men</a></li>
    <li><a href="/women-fashion">Women</a></li>
    <li><a href="/men-outfits">Men Outfits</a></li>
    <li><a href="/women-outfits">Women Outfits</a></li>
    <li><a href="/blogs">Blog</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="/contactus">Contact us</a></li>
  </ul>
</div>
